.image{
    width: 120px;
    height: 46.6px;
    position: absolute;
    right: 0;
}
#infoToolbar{
    position: absolute;
    z-index: 2;

}
#infoDiv{
    width: 90%;
    margin: auto;
    background-color: #FAFAFA;
    padding:5%;
    margin-bottom:15px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
h1{
    text-align: center;
    font-size: 28px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight:500;
    margin-bottom: 0;
}
h2{
    text-align: center;
    font-size: 14px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight:500;
    color: rgba(0,0,0,.54);
}
#menuButton {
    display: block;
    padding:0;
}
mat-toolbar{
    padding:0;
}
#paddingDiv{
    padding-top:65px;
    padding-left:2.5%;
    padding-right:2.55%;
}
#speciesName{
    font-size: 26px;
    color: rgb(68,68,68);
}
.sar{
    font-size:20px;
    color:crimson; 
    vertical-align: middle;
    padding-left:24px;
    position:relative;
    line-height:26px;
}
.snar{
    font-size:20px;
    color:green; 
    vertical-align: middle;
    padding-left:24px;
    position:relative;
    line-height:26px;
}
.map{
    font-size:20px;
    color:#09F; 
    vertical-align: middle;
    padding-left:24px;
    position:relative;
    line-height:26px;
}
.icon {
    background: url('../../assets/images/avatars/torontozooimage.png');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
  }