<div id="mainDiv">
    <mat-toolbar color="primary" class="main header">
        <button id="menuButton" (click)="goBack();" mat-button>
            <mat-icon class="md-48">chevron_left</mat-icon>
        </button>
        <h1 style='margin:auto; font-weight:500; font-size:24px'>{{'Reset Password' | translate}}</h1>
    </mat-toolbar>

    <div id="centerDiv">
            <img id="headImage" src="assets/turtle-guardians.svg" />
            <h2>{{'Forgot Something?' | translate}}</h2>
            <p>{{'Just put in your email that you used to make the account and we\'ll send you a link to reset your password.' | translate}}
            </p>
            <mat-form-field class="input">
                <mat-icon matPrefix>email</mat-icon>
                <input [(ngModel)]="email" id="emailResetText" matInput placeholder="{{'Email Address' | translate}}">
            </mat-form-field>
            <p style='color:crimson'>{{(password | async).resetMessage | translate}}</p>
            <button mat-button id="sendButton" (click)="sendReset()"
                class="button"><b>{{'SEND' | translate}}</b></button>
        
    </div>
</div>