#requestButton{
    width:98%;
    background-color:rgb(104, 52, 0);
    color:white;
    margin:auto;
    display:block;
}
#requestButton:disabled{
    background-color:grey;
}
#master{
    width:100%;
    text-align:center;
    overflow: hidden;
}
.spacer{
    flex: 1 1 auto;
}
.input{
    width:90%;
    margin:auto;
}
#header{
    text-align: center;
}