<div id="master">
  <mat-toolbar color="primary" class="main header">
    {{'Change Password' | translate}}
    <span class="spacer"></span>
    <button id="exit" mat-button mat-dialog-close>
      <mat-icon class="md-48">close</mat-icon>
    </button>
  </mat-toolbar>
  <p>
    {{'Enter your current password and new password below.' | translate}}
  </p>
  <mat-form-field class="input">
    <mat-icon matPrefix>lock</mat-icon>
    <input [(ngModel)]="currentPassword" id="oldPass" matInput type="password" placeholder="{{'Old Password' | translate}}">
  </mat-form-field>
  <mat-form-field class="input">
    <mat-icon matPrefix>lock</mat-icon>
    <input [(ngModel)]="newPassword" id="newPass" matInput type="password" placeholder="{{'New Password' | translate}}">
  </mat-form-field>
  <mat-form-field class="input">
    <mat-icon matPrefix>lock</mat-icon>
    <input [(ngModel)]="changeConfirmation" id="verifyPass" matInput type="password"
      placeholder="{{'Confirm New Password' | translate}}">
  </mat-form-field>
  <br>
  <p id="changePasswordMessage" style='color:crimson'>{{(profile | async).changePasswordMessage | translate}}</p>
  <button mat-raised-button (click)="changePassword()" color="primary"
    [disabled]="(changeConfirmation !== newPassword) || (newPassword =='') || (newPassword.length < 8)"
    id="requestButton">
    {{'Change Password' | translate}}
  </button>
</div>