#loginMainDiv{
    text-align: center;
    color: rgb(0, 0, 0);
    height:100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: 'Arial';
}
#headImage{
    max-width: 80%;
    width: 100%;
    padding: 15px;
}
#centerDiv{
    width:80%;
    max-width:80%;
    margin:auto;
    color: #666;
}
.bgimg{
    background-image: url(../../assets/images/login-background.jpg);
}
#signupBtn{
    width:49%;
    background-color:#2e2f30;
    color:white;
    float:left;
}
#loginBtn{
    width:49%;
    background-color:rgb(104, 52, 0);
    color:white;
    float:right;
}
#facebookButton{
    width:100%;
    background-color:#3c579e;
    color:white;
}

h2 {
    width: 100%; 
    text-align: center;
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size: 14px;
    font-weight:500;
    //color: rgb(0, 0, 0);
    color: white;
    font-family: 'Arial';
    border-bottom: 2px solid rgb(0, 0, 0);
 } 
 
 h2 span { 
     padding:0 10px; 
 }

 .footer{ 
    position: fixed;
    width: 100%;
}
#skipBtn{
    text-align: center;
    font-weight:600;
    font-size: 19px;
    //color: black;
    color: white;
}
#overlay{
    background-color: rgba(20,20,20,0.75);
    position: absolute;
    top:0;
    bottom:0;
    width:100vw;
    height:100vh;
    text-align: center;
    vertical-align: middle;
    line-height:100vh;
}
p {
    //color: rgb(0, 0, 0);
    color: white;
    font-family: 'Arial';
}
span {
    //color: rgb(0, 0, 0);
    color: white;
}
.footerButtons {
    //color: black;
    color: white;
    font-size: 16px;
}